*								{ margin: 0; padding: 0}
body							{ font: 16px "Georgia",serif;}

#page-wrap						{ margin: 2% auto; color: white; }
#page-wrap > .main				{ border: 1px solid #999; padding: 1%; margin-bottom: 1px; color: black;}

section > div 			 		{ text-align: left; }
header, nav, section			{ background: #eee; text-align: center;}
footer							{ background: #eee; text-align: center;}
footer a						{ margin: 0px 20px 0px 0px }
nav span						{ margin: 0px 10px 0px 0px; width: 100%; display: inline-block;}
#ErrorMsgs						{ color: #D63301; font-size: small; }
div#busqueda					{ border: 5px ridge #999; margin: 0px 0px 10px 0px; text-align:center;}

.right							{float:right;}
.titleStats						{float:left; font-weight:bold;}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    text-align:left;
}
